In [1]:
#load the dataset

import pandas as pd

df = pd.read_csv("etl_cleaned_dataset.csv")

#basic shape and first few rows
print("Rows, columns:", df.shape)
df.head()

Rows, columns: (16044, 62)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update,film_id,store_id,last_update_x,...,$domestic,domestic_%,$foreign,foreign_%,year:2,genres,rating:1,vote_count,original_language,production_countries
0,1,2005-05-24 22:53:30.000,367,130,2005-05-26 22:04:30.000,1,2021-03-06 15:53:41,80,1,2021-03-06 15:52:11,...,0.0,0.0,13422333.0,100.0,2004,"Animation, Adventure, Action",7.0/10,215.0,ja,Japan
1,2,2005-05-24 22:54:33.000,1525,459,2005-05-28 19:40:33.000,1,2021-03-06 15:53:41,333,2,2021-03-06 15:52:20,...,0.0,0.0,39714624.0,100.0,2021,"Action, Drama, Crime",7.9/10,228.0,ja,Japan
2,3,2005-05-24 23:03:39.000,1711,408,2005-06-01 22:12:39.000,1,2021-03-06 15:53:41,373,2,2021-03-06 15:52:22,...,57386418.0,59.2,39555697.0,40.8,2017,"Drama, Fantasy",7.492/10,2129.0,en,"Canada, Hong Kong, United States of America"
3,4,2005-05-24 23:04:41.000,2452,333,2005-06-03 01:43:41.000,2,2021-03-06 15:53:41,535,1,2021-03-06 15:52:28,...,0.0,0.0,23039985.0,100.0,2002,"Comedy, Crime",7.077/10,1156.0,it,Italy
4,5,2005-05-24 23:05:21.000,2079,222,2005-06-02 04:33:21.000,1,2021-03-06 15:53:41,450,2,2021-03-06 15:52:25,...,35417038.0,36.4,61992741.0,63.6,2019,"Comedy, Crime",6.181/10,2490.0,en,"Spain, United States of America"

In [2]:
#inspect columns, types, and missingness

df.columns
df.info()
df.isna().mean().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16044 entries, 0 to 16043
Data columns (total 62 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   rental_id             16044 non-null  int64
 1   rental_date           16044 non-null  object
 2   inventory_id          16044 non-null  int64
 3   customer_id           16044 non-null  int64
 4   return_date           15861 non-null  object
 5   staff_id              16044 non-null  int64
 6   last_update           16044 non-null  object
 7   film_id               16044 non-null  int64
 8   store_id              16044 non-null  int64
 9   last_update_x         16044 non-null  object
 10  title                 16044 non-null  object
 11  description           16044 non-null  object
 12  release_year          16044 non-null  int64
 13  language_id           16044 non-null  int64
 14  original_language_id  0 non-null      float64
 15  rental_duration       16044 non-null  int64
 16  rental_rate           16044 non-null  float64
 17  length                16044 non-null  int64
 18  replacement_cost      16044 non-null  float64
 19  rating                16044 non-null  object
 20  special_features      16044 non-null  object
 21  last_update_y         16044 non-null  object
 22  year                  16044 non-null  int64
 23  title:1               16044 non-null  object
 24  year:1                16044 non-null  int64
 25  rated                 13704 non-null  object
 26  released              16041 non-null  object
 27  runtime               15986 non-null  object
 28  genre                 16021 non-null  object
 29  director              15967 non-null  object
 30  writer                15885 non-null  object
 31  actors                16006 non-null  object
 32  plot                  15981 non-null  object
 33  language              15976 non-null  object
 34  country               16007 non-null  object
 35  awards                14359 non-null  object
 36  poster                16022 non-null  object
 37  ratings               16044 non-null  object
 38  metascore             12127 non-null  float64
 39  imdbrating            15888 non-null  float64
 40  imdbvotes             16016 non-null  object
 41  imdbid                16044 non-null  object
 42  type                  16044 non-null  object
 43  dvd                   151 non-null    object
 44  boxoffice             12786 non-null  object
 45  production            121 non-null    object
 46  website               0 non-null      float64
 47  response              16044 non-null  int64
 48  totalseasons          45 non-null     float64
 49  rank                  16044 non-null  int64
 50  title:2               16044 non-null  object
 51  $worldwide            16044 non-null  float64
 52  $domestic             16044 non-null  float64
 53  domestic_%            16044 non-null  float64
 54  $foreign              16044 non-null  float64
 55  foreign_%             16044 non-null  float64
 56  year:2                16044 non-null  int64
 57  genres                15900 non-null  object
 58  rating:1              15908 non-null  object
 59  vote_count            15908 non-null  float64
 60  original_language     15908 non-null  object
 61  production_countries  15843 non-null  object
dtypes: float64(13), int64(15), object(34)
memory usage: 7.6+ MB

original_language_id    1.000000
website                 1.000000
totalseasons            0.997195
production              0.992458
dvd                     0.990588
                          ...
title:2                 0.000000
rank                    0.000000
year:2                  0.000000
$foreign                0.000000
foreign_%               0.000000
Length: 62, dtype: float64

In [4]:
#rating distribution
for col in ["rating", "rated"]:
    if col in df.columns:
        print(f"\nValue counts for {col}:")
        print(df[col].value_counts().head(20))

Value counts for rating:
rating
PG-13    3585
NC-17    3293
PG       3212
R        3181
G        2773
Name: count, dtype: int64

Value counts for rated:
rated
PG-13        5147
R            4427
PG           2097
Not Rated    1184
G             320
TV-14         153
TV-MA         133
TV-PG          73
TV-Y7          42
Unrated        42
13+            24
Approved       13
TV-G           12
NC-17          12
18+            11
M               6
TV-Y7-FV        5
16+             3
Name: count, dtype: int64

In [5]:
#top genres

for col in ["genres", "genre"]:
    if col in df.columns:
        print(f"\nSample genres from column: {col}")
        print(df[col].value_counts().head(20))

Sample genres from column: genres
genres
Comedy                                921
Drama                                 700
Comedy, Romance                       607
Drama, Romance                        422
Comedy, Drama                         371
Comedy, Drama, Romance                276
Horror, Thriller                      247
Drama, History                        231
Drama, Comedy                         226
Romance, Comedy                       177
Romance, Drama                        163
Action, Adventure, Science Fiction    144
Horror                                143
Drama, Comedy, Romance                132
Action, Crime, Thriller               128
Comedy, Family                        122
Drama, Thriller                       118
Action, Thriller                      116
Action, Comedy                        114
Comedy, Crime                         112
Name: count, dtype: int64

Sample genres from column: genre
genre
Comedy                          782
Animation, Adventure, Comedy    780
Comedy, Drama, Romance          653
Comedy, Romance                 589
Animation, Action, Adventure    519
Action, Adventure, Comedy       450
Drama, Romance                  442
Comedy, Drama                   422
Action, Adventure, Drama        417
Drama                           410
Action, Crime, Drama            377
Action, Adventure, Sci-Fi       325
Action, Comedy, Crime           318
Action, Adventure, Fantasy      279
Action, Crime, Thriller         275
Horror, Mystery, Thriller       235
Crime, Drama, Mystery           212
Adventure, Comedy, Family       197
Biography, Drama, History       191
Crime, Drama, Thriller          191
Name: count, dtype: int64

In [6]:
#language and country distributions (top 10)
for col in ["language", "original_language", "country", "production_countries"]:
    if col in df.columns:
        print(f"\nTop values for {col}:")
        print(df[col].value_counts().head(10))

Top values for language:
language
English             6086
Japanese             956
English, Spanish     684
Mandarin             453
English, French      381
Korean               364
French               282
Hindi                230
English, German      216
English, Italian     163
Name: count, dtype: int64

Top values for original_language:
original_language
en    11090
ja     1114
zh      917
fr      586
ko      580
hi      325
de      271
es      208
cn      207
it      149
Name: count, dtype: int64

Top values for country:
country
United States                    4999
Japan                            1074
China                             629
South Korea                       547
United Kingdom, United States     515
United States, Canada             480
India                             359
United States, United Kingdom     327
France                            282
Germany, United States            225
Name: count, dtype: int64

Top values for production_countries:
production_countries
United States of America                    6791
Japan                                       1071
United Kingdom, United States of America     783
China                                        563
South Korea                                  524
India                                        362
France                                       328
Germany, United States of America            322
Canada, United States of America             305
China, Hong Kong                             272
Name: count, dtype: int64